@import "~antd/dist/antd.css";
.App {
  text-align: center;
}
.App .titleRow {
  background-color: #17a2b8!important;
  position: fixed;
  width: 100%;
  z-index: 1;

}
.App .titleText {
  color: #ffffff;
}
.App .searchBar {
  padding-top: 2em;
  
}
.App .searchContainer{
    position: fixed;
    z-index:1;
    margin-top:65px;
    background: #eeeeee;

}


.App .ant-input-search-button {
  background-color: #17a2b8!important;
}
.App .marginTop{
  margin-top:130px;
}

 .modalHeader{
  background-color: #17a2b8!important;
  
}
.modalHeader .modal-title{
  color: #ffffff;
}